[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "==1.11.*"
pathlib = "*"
matplotlib = "*"
scikit-image = "*"
scipy = "*"
numpy = "*"

[dev-packages]
pylint = "*"
